{% extends "users/layout.html" %} {% block content %}
<div id="wrapper" style="background-size: cover;">
        <!-- header begin -->

        <!-- header close -->

        <!-- subheader begin -->
        <section id="subheader" class="page-service-7 no-bottom" data-stellar-background-ratio="0.5" style="background-size: cover; background-position: 0% -992.4px;">
            <div class="inner" style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col-md-12" style="background-size: cover;">
                            <h1 style="color:#ed1b2f !important;;">News Room</h1>
                            <div class="crumb" style="background-size: cover;">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li>Details</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <div class="clearfix" style="background-size: cover;"></div>

        <!-- content begin -->
        <div id="content" class="no-top no-bottom" style="background-size: cover;">
            <section style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col-md-12" style="background-size: cover;">
                            <img src="{{base_url}}assets/gocargo-recharge/img/news/pic%20(1).jpg" alt="" class="img-responsive pull-right">
                            <h2>PROYEK RDMP RU V BALIKPAPAN DAN LAWE-LAWE OPTIMIS SELESAI SESUAI TARGET</h2>
                            <p class="lead">Balikpapan (09/2019) </p>
                            <div class="divider-deco" style="background-size: cover;"><span></span></div>
                            <p>Sebagai Proyek Strategis Nasional (PSN), RDMP RU V Balikpapan dan Lawe-Lawe terus berkomitmen  dalam kemajuan perkembangan proyek sesuai target yang telah ditentukan. Proyek ini memulai sejarahnya diawali dengan proses lelang pada 15 Maret – 26 November 2018 dinyatakan selesai dan dilakukan pengumuman pemenangnya pada 30 November 2018. Pada 10 Desember 2018 menjadi babak baru bagi proyek ini dengan dilakukannya penandatanganan kontrak Engineering, Procurement and Construction (EPC) antara PT Pertamina (Persero) bersama Joint Operation SK Engineering & Construction CO.LTD – Hyundai Engineering CO.LTD – PT Rekayasa Industri – PT PP (Persero) sebagai kontraktor pemenang lelang.</p>

                            <p>Program RDMP RU V Balikpapan dan Lawe-Lawe menjadi salah satu solusi untuk meningkatkan ketahanan dan kemandirian energy nasional , mendukung pertumbungan industry petrokimia  dan memperkuat bisnis hilir Pertamina.</p>

                            <p>Tujuan kapasitas kilang kilang RU V Balikpapan dari 260 ke 360 MBPSD untuk memenuhi kebutuhan BBM dalam negeri, meningkatkan kualitas produk kilang (BBM dan Petrokimia), kualitas produk BBM meningkat dari standar Euro II menjadi Euro V, meningkatkan kompleksitas NCI kilang dari 4,4 menjadi 8,8 dengan menambah unit konversi untuk menghasilkan lebih banyak higher yield value product dari 75% menjadi 96% dan meningkatkan fleksibelitas pengolahan Crude yang memiliki kandungan Sulphur yang lebih tinggi. Perlu diketahui dalam mendukung program pemerintah, Tingkat Kandungan Dalam Negeri (TKDN) RDMP RU V sebesar adalah 30% (sesuai Permen Perindustrian No. 16 Th 2011 Tentang Ketentuan dan Tata Cara Perhitungan TKDN) atau setara 1,5 Milyar USD. TKDN ini akan mengutamakan peran serta SDM dan komponen lokal.
                            Perkembangan proyek RDMP secara keseluruhan sampai saat ini yaitu meliputi Early Work Tahap I dan Tahap II. Diantara sub proyek yang sedang berjalan, ada 5 proyek yang telah selesai dikerjakan antara lain Apartemen Tahap-1, Flare Balikpapan-1, EPCI Sheet Pile, Pengadaan Stone Column Aggregate dan Penanganan Banjir Kilang. Sementara untuk perkembangan sub proyek yang lain di lingkup RDMP RU V ini antara lain adalah Bendali Apartemen, New Workshop dan Warehouse, Re-Route Jalan, Relocation Flare Balikpapan-2 & Acid Flare, Site Development 2A, Site Development Lawe-Lawe, Site Office, HSSE Office, Laboratorium, New Jetty Sulfur, Tank Modification dan Apartemen Tahap II yang saat ini sampai masih berproses.
                            </p>

                            <p>Tercatat hingga Juni 2019 RDMP RU V telah mencapai 1.667.476 jam kerja aman, ini merupakan komitmen seluruh pekerja RDMP RU V dalam upaya kepedulian terhadap keselamtan kerja dan kepatuhan terhadap aturan-aturan HSSE yang wajib dilaksanakan.</p>

                            <p>Salah satu faktor utama suksesnya proyek ini adalah peran pekerja, sehubungan dengan itu wujud nyata dalam mendukung peningkatan kompetensi tenaga kerja Balikpapan/Kaltim, RDMP RU V bekerjasama dengan Disnaker Kota Balikpapan memfasilitasi warga Balikpapan untuk mengikuti pelatihan first aider, safety inspector dan safety man dan terserap hingga 960 orang untuk mengikuti pelatihan tersebut.</p>

                            <p>Penyerapan tenaga kerja lokal hingga Juni 2019 oleh kontraktor adalah 1367 yang terdiri dari 49 persen local Balikpapan, 43 persen luar Kalimantan Timur dan 7 persen Kalimantan Timur. Pencapaian penyerapan tenaga kerja ini melalui sosialisasi dan himbauan kepada kontraktor terkait penyerapan tenaga kerja local dan berkoordinasi bersama Disnaker Kota Balikpapan serta stakeholder yang lain.</p>

                            <p>Kepedulian RDMP RU V terhadap lingkungan telah diwujudkan melalui kegiatan-kegiatan sosial yang telah dilakukan seperti penyaluran sembako, hewan qurban, dukungan kegiatan sosial masyarakat serta penyerahan bibit pohon ke masyarakat melalui Dinas Lingkungan Hidup Kota Balikpapan sebanyak 21.100. Upaya lain dalam kaitannya dengan hubungan stakeholder RDMP RU V bersinergi baik bersama Forum Komunikasi Pimpinan Daerah (Forkopimda), masyarakat serta tokoh masyarakat dalam hal dukungan penuh demi suksesnya proyek ini.</p>

                            <p>Project Coordinator RDMP RU V Joko Koen Soewito mengungkapkan rasa terima kasih kepada seluruh pihak terkait yang mendukung penuh proyek ini hingga kedepan sukses sampai akhir proyek serta selama pekerjaan proyek berlangsung tanpa ada kecelakaan kerja demi terwujudnya Ketahanan dan Kemandirian Energy Indonesia. RDMP RU V</p>


                        </div>

                        <div class="divider-single" style="background-size: cover;"></div>
                        <div class="divider-half" style="background-size: cover;"></div>

                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->
    </div>

{% endblock %}
