{% extends "users/layout.html" %} {% block content %}
<div id="wrapper" style="background-size: cover;">
        <!-- header begin -->

        <!-- header close -->

        <!-- subheader begin -->
        <section id="subheader" class="page-service-7 no-bottom" data-stellar-background-ratio="0.5" style="background-size: cover; background-position: 0% -992.4px;">
            <div class="inner" style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col-md-12" style="background-size: cover;">
                            <h1 style="color:#ed1b2f !important;;">News Room</h1>
                            <div class="crumb" style="background-size: cover;">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li>Details</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <div class="clearfix" style="background-size: cover;"></div>

        <!-- content begin -->
        <div id="content" class="no-top no-bottom" style="background-size: cover;">
            <section style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col-md-12" style="background-size: cover;">
                            <img src="{{base_url}}assets/gocargo-recharge/img/news/budaya_safety.jpg" alt="" class="img-responsive pull-right">
                            <h2>BUDAYA SAFETY HARUS MELEKAT DALAM DIRI KITA</h2>
                            <p class="lead">Penajam Paser Utara (23/08)</p>
                            <div class="divider-deco" style="background-size: cover;"><span></span></div>
                            <p>PT Nindya Karya sebagai salah satu kontraktor proyek RDMP RU V Balikpapan & Lawe Lawe (RDMP RU V) melakukan kegiatan Grand Safety Talk di Site Development Terminal Fasility  Lawe Lawe Penajam Paser Utara Kaltim. Project Coordinator RDMP RU V Djoko Koen Soewito turut hadir dalam kegiatan ini sebagai inspektur upacara serta dihadiri tim manajemen serta pekerja. Dalam kesempatan ini Djoko Koen Soewito dalam sambutannya menyampaikan bahwa jadikanlah HSSE selalu melekat dalam diri kita, jika ada diantara kita pekerja maupun tim menejemen dalam kondisi tidak aman silahkan di tegur dan selalu ingat bahwa keluarga dirumah mengunggu kita pulang  dengan selamat serta semoga aktifitas kita dilaksanakan dengan selamat dan juga nyaman dalam bekerja.</p>

                            <p>Dalam kegiatan ini dihadirkan tips kesehatan yang disampaikan oleh tim HSSE RDMP RU V tentang pencegahan penyakit akibat debu yaitu dengan cara menggunakan masker dengan baik dan benar dan mencuci tangan sebelum makan. Berlanjut ke agenda selanjutnya, pemberian penghargaan Good HSE Performance dan Pengamatan Kerja Aman (Peka) Berkualitas kepada pekerja yang telah berkontribusi baik terhadap budaya safety di lingkungan proyek yang diberikan langsung oleh Djoko Koen Soewito. Diharapkan dengan pemberian penghargaan ini dapat meningkatkan kesadaran akan pentingnya budaya safety kepada para pekerja.</p>

                            <p>Kegiatan ini ditutup dengan semangat yel yel “RDMP Jaya.. Jaya.. Jaya..”. AP-RDMP RU V </p>


                        </div>

                        <div class="divider-single" style="background-size: cover;"></div>
                        <div class="divider-half" style="background-size: cover;"></div>

                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->
    </div>

{% endblock %}
