<!-- header begin -->
<header class="transparent">
            <div class="container">
                <span id="menu-btn"></span>

                <div class="row">

                  <div class="col-md-1" style="width:14%!important;">

                      <!-- logo begin -->

                      <!-- logo close -->

                  </div>

                    <div class="col-md-9">

                        <!-- mainmenu begin -->
                        <nav id="mainmenu-container">
                            <ul id="mainmenu" class="s1">
                                <li><a href="{{base_url}}" class="active">Home</a></li>
                                <li><a href="#section-overview">Profile</a>
                                  <!-- <ul>
                                      <li><a href="#section-overview">Overview</a></li>
                                      <li><a href="#section-visimisi">Visi Misi</a></li>
                                      <li><a href="#section-bod">BOD</a></li>
                                  </ul> -->
                                </li>
                                <li><a href="#section-progress">Progress</a></li>
                                <!-- <li><a href="index-express-onepage.html#section-faq-2">FAQ</a></li> -->
                                <li><a href="#section-foto-weekly-progress">Gallery</a>
                                  <!-- <ul>
                                      <li><a href="#">Foto</a>
                                        <ul>
                                            <li><a href="#section-foto-weekly-progress">Weekly Progress</a></li>
                                            <li><a href="#section-foto-moment">Moment</a></li>
                                        </ul>
                                      </li>
                                      <li><a href="#">Video</a>
                                        <ul>
                                            <li><a href="#section-video-weekly-progress">Weekly Progress</a></li>
                                            <li><a href="#section-video-profile">Profile</a></li>
                                            <li><a href="#section-video-feature">Feature</a></li>
                                        </ul>
                                      </li>
                                  </ul> -->
                                </li>
                                <li><a href="#">News</a>
                                  <ul>
                                      <li><a href="#section-artikel-moment">Artikel Moment</a></li>
                                      <li><a href="#section-broadcast">Broadcast</a></li>
                                  </ul>
                                </li>
                                <li><a href="index-express-onepage.html#section-awards">Virtual Tour Site</a></li>
                                <li><a href="#section-contact-us">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- mainmenu close -->

                        <!-- search -->
                        <!-- <div class="search text-right">
                            <input type="text" name="search" id="search" placeholder="search">
                            <button type="submit" class="btn-search-icon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div> -->
                        <!-- social icons close -->

                    </div>

                    <div class="col-md-2" style="position: absolute;background-size: cover;right: 0;top: 0;margin-right: -15px;">

                        <!-- logo begin -->
                        <div id="logo" class="pull-right">
                          <div>
                            <div class="inner" style="height:0px !important;">
                                <a href="index.html">
                                    <img src="{{base_url}}assets/gocargo-recharge/img/KPB_background.png" alt="" class="logo-1">
                                    <img src="{{base_url}}assets/gocargo-recharge/img/KPB.png" alt="" class="logo-2">
                                </a>

                            </div>
                        </div>
                      </div>
                        <!-- logo close -->

                    </div>
                </div>
            </div>
        </header>
<!-- header close -->
