<!-- header begin -->
<header class="transparent">
            <div class="container">
                <span id="menu-btn"></span>

                <div class="row">

                  <div class="col-md-2">

                      <!-- logo begin -->

                      <!-- logo close -->

                  </div>

                    <div class="col-md-7">

                        <!-- mainmenu begin -->
                        <nav id="mainmenu-container">
                            <ul id="mainmenu" class="s1">
                                <li><a href="{{base_url}}" class="active">Home</a></li>
                                <li><a href="#section-profile">Profile</a></li>
                                <!-- <li><a href="index-express-onepage.html#section-services">Services</a></li> -->
                                <!-- <li><a href="index-express-onepage.html#section-faq-2">FAQ</a></li> -->
                                <li><a href="#section-gallery-carousel">Gallery</a></li>
                                <li><a href="index-express-onepage.html#section-news-2">News</a></li>
                                <li><a href="index-express-onepage.html#section-awards">Awards</a></li>
                                <li><a href="index-express-onepage.html#section-contact-us">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- mainmenu close -->

                        <!-- search -->
                        <!-- <div class="search text-right">
                            <input type="text" name="search" id="search" placeholder="search">
                            <button type="submit" class="btn-search-icon">
                                <i class="fa fa-search"></i>
                            </button>
                        </div> -->
                        <!-- social icons close -->

                    </div>

                    <div class="col-md-3" style="position: absolute;background-size: cover;right: 0;top: 0;">

                        <!-- logo begin -->
                        <div id="logo" class="pull-right">
                          <div>
                            <div class="inner">
                                <a href="index.html">
                                    <img src="{{base_url}}assets/gocargo-recharge/img/KPB_background.png" alt="" class="logo-1">
                                    <img src="{{base_url}}assets/gocargo-recharge/img/KPB.png" alt="" class="logo-2">
                                </a>

                            </div>
                        </div>
                      </div>
                        <!-- logo close -->

                    </div>
                </div>
            </div>
        </header>
<!-- header close -->
